.proyecto_contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100vh;
}
.proyecto_contenedor_imagen{
   width: 700px;
   height: 550px;
   position: relative;
   overflow: hidden;
   border-radius: 10px;
}
.proyecto_botones {
    background-color: rgb(10, 110, 240);
    /* color: white; */
    border: none;
    border-radius: 50%;
    padding: 0px;
    cursor: pointer;
    position: absolute;
    top: 45%;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.carousel-caption{
  background-color: rgba(6, 42, 53, 0.959);
  border-radius: 20px;
  h5{
    text-transform: capitalize;
  }
  p{
    padding: 5px;
    font-family: monospace;
    font-size: 18px;
  }
}

.proyecto_botones:hover {
    background-color: blue;
    /* background-color: rgba(201, 163, 163, 0.8); */
    color: black;
}
/* esta es la opcion nuevas */
.proyecto_image_container{
    width: 100%;
    height: 100%;
    position: relative;
}
.proyecto_img{   
    width: 100%;
    height: 100%;
    object-fit:fill
}
.proyectos_escondidos{
    display: none;
}
@media (max-width:480px){
    .proyecto_contenedor{
        display: none;
    }
    .proyectos_escondidos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    .proyecto_contenedor{
        display: none;
    }
}