.proyecto_contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.proyecto_contenedor_imagen{
   width: 700px;
   height: 550px;
   position: relative;
   overflow: hidden;
   border-radius: 10px;
}
.proyecto_botones {
    background-color: rgb(240, 10, 10);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.proyecto_botones:hover {
    background-color: rgba(201, 163, 163, 0.8);
    color: black;
}
/* esta es la opcion nuevas */
.proyecto_image_container{
    width: 100%;
    height: 100%;
    position: relative;
}
.proyecto_img{   
    width: 100%;
    height: 100%;
    object-fit:fill
}
@media (max-width:480px){
    .proyecto_contenedor{
        display: none;
    }
}