.sobremi_contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
}
.sobremi_contenedor_info{
  display: flex;
  padding: 10px 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:justify;
background-color: rgb(215, 215, 243);  
width: 80%;
border-radius: 10px;
}
.sobremi_contendor_iconos_redes{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 5px 0 20px 0;
}
.sobremi_contendor_iconos_redes>a:hover{
  cursor: pointer;
  transform: scale(1.2);
}
.sobremi_contenedor_img{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sobremi_contenedor_img>img{
  width: 100%;
}
@media (max-width:400px) {
  .sobremi_contenedor{

    flex-direction: column-reverse;
    height: 100vh;
    padding: 10px 0;
  }
  .sobremi_contenedor_info{
    width: 100%;
  }
  .sobremi_contenedor_img{
    width: 70%;
  }
}