*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image: url('https://st4.depositphotos.com/1001026/20012/i/450/depositphotos_200128188-stock-photo-vintage-wallpaper-colors.jpg');
  background-position: center;
  background-size: cover;
}